dist: xenial
language: node_js
node_js:
  - "8"
  - "10"
  - "12"
  - lts/*
  - node
install: npm ci
script:
  - npm run build:protos
  - npm test
jobs:
  include:
    - stage: coverage
      node_js: lts/*
      install: npm ci
      script: npm run build:protos && jest --coverage --coverageReporters=text-lcov | coveralls
    - stage: deploy
      node_js: lts/*
      install: npm ci
      script: skip
      deploy:
        provider: npm
        email: litichevskiydv@gmail.com
        api_key:
          secure: sCreCcsxwDwB0ASO5tHcKrg1kgBqMs0exOThCfRfYYI9tuV9IJ88BN0jUYIDiOPRTSjxApwKotl1jwaPMz+4XrTTD5m9gQBpdDiKYelbVU5DQdqCw8QUi9D8kLbZ/9j5ZWf0Jp+w0j3ovOygYP5gJRlJWLxBC4BKtarNW0LaDSbUay4iHbjX145X81LTQnkBOk5JtiLZER0eAlt4LGt5syrBRQo29ivdvoILQ7K3s8jv+RpSvmqEyRnq3ks/jni4SSveU0+C86B8zkoo6aCqFyTUOj95TADcPjYOwxBwikUTLHC8yKG5rZWr51/c7OCtvNfYZHct9Dzdt5VkPzStkROgnRd3j4BepyvljQdz92+aUlon13nVmwgqPjLZ25QiBFh3fQ0llr+jx+OaGlLVok8n3M83K7cM6uXyO+uSzCHNUzxD9QelJVGYQsMI7Lmk3dqk88Y75au94EcA/8LvQorzvqBxV5uosjWBl+GyJJiQ30YLwtnbEj8xxgq/Pi/DInqaVDdtyBeB6l4llAKkk4cFDSZ9PdzDu5Vn6Xq0ZiJf/cWSdSPY1Gg9oumtOx7lsKNXG0UwYramL3w98HUu9TEsBdTHy5gfU9yBshS3C0qV+aqLBxohO8bOJruJki+yVrbAA8Ho/SSzE+m+/aXjwEHK+3IaVmNAFvKD9CRTsrY=
        on:
          branch: master
